

.cart-content-wrapper {
  margin-top: 89px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.cart-bascet {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 22px;
}
.card-bascet-icon {
  border-radius: 30px;
  background: var(--second-bg);
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}
.card-bascet-icon svg {
  margin: 0 auto;
  height: 100%;
  fill: var(--btn-gray);
}
.card-bascet-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
}

.card-delete {
  display: flex;
  width: 100%;
  max-width: 335px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.card-delete-text {
  font-size: 14px;
  margin-right: 8px;
  margin-left: auto;
}
.card-delete-icon {
  margin: 0;
  width: 24px;
}

.card-product {
}
.cart-list {
  max-height: 420px;
  overflow: auto;
}
.cart-item {
  display: flex;
  gap: 20px;
  border-bottom: 1px;
  border-color: rgba(1, 1, 1, 0.1);
}

.cart-item:not(:last-child) {
  padding-bottom: 30px;
}
.cart-item:not(:first-child) {
  padding-top: 30px;
}

.cart-item-img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--third-bg);
  margin-right: 20px;
}
.cart-img {
}
.card-description {
}
.card-name {
  display: flex;
  margin-bottom: 10px;
}
.card-name-text {
  font-size: 18px;
  line-height: 1.1;
}
.card-image {
  width: 18px;
  height: 18px;
  margin-left: auto;
}
.card-category {
  display: flex;
  gap: 8px;
  margin-bottom: 36px;
}

.card-category span {
}
.card-category-text {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
}
.card-category-text span {
  color: var(--text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
}
.card-category-prise {
}

.card-ordered {
  padding-top: 40px;
}

.order-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 335px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  margin-bottom: 30px;
  padding: 18px 18px 14px 18px;
}

.card-food-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.card-ordered-sum span {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  margin-right: 4px;
}
.card-ordered-sum {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
}

.card-form-input {
    background: inherit;
  display: inline-flex;
  width: 333px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
}
.card-form-input::placeholder {
  color: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.card-form-btn {
  display: inline-flex;
  /* width: 100%; */
  padding: 12px 138px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--second-bg);
  color: var(--main-bg);
  font-size: 14px;
  border: none;
  margin-bottom: 80px;
}
/* ===================================================
==================================================== */

@media (min-width: 768px) {
 
  .cart-bascet {
    margin-bottom: 31px;
  }
  .card-bascet-icon {
    width: 42px;
    height: 42px;
  }
  .card-bascet-text {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }
  .card-delete {
    margin-bottom: 42px;
  }
  .card-delete-text {
    font-size: 16px;
  }

  .cart-list {
    max-height: 520px;
  }
  .cart-item-img {
    width: 120px;
    height: 120px;
    margin-right: 40px;
  }
  .cart-item:not(:last-child) {
    padding-bottom: 40px;
  }
  .cart-item:not(:first-child) {
    padding-top: 40px;
  }
  .card-name {
    margin-bottom: 12px;
  }
  .card-category {
    margin-bottom: 46px;
  }
  .card-name-text {
    font-size: 20px;
    line-height: 1.2;
  }
  .card-category-text span {
    font-size: 14px;
    line-height: 1.2;
  }
  .card-ordered {
    padding-top: 100px;
  }
  .order-text {
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
  }

  .order-total {
    width: 590px;
    padding: 14px 28px;
    margin-bottom: 40px;
  }
  .card-food-name {
    font-size: 20px;
    line-height: 1.2;
  }
  .card-ordered-sum span {
    margin-right: 8px;
  }
  .card-form-input {
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 16px;
    width: 359px;
  }
  .card-form-btn {
    padding: 15px 65px;
    font-size: 20px;
    border: none;
    width: 215px;
  }
}

/* ============================= */
/* ============================== */

@media (min-width: 1440px) {
  
  .cart-bascet {
    margin-bottom: 21px;
  }
  .card-bascet-icon {
    width: 42px;
    height: 42px;
  }
  

  }
  .cart-item-img {
    width: 120px;
    height: 120px;
  }
  .card-product {
    display: flex;
    flex-wrap: wrap;
    gap: 101px;
  }
  .cart-list {
    max-height: 400px
  }
  .card-item{
    padding-right: 40px;
  }
  .card-name {
    margin-bottom: 12px;
  }
  .card-name-text {
    font-size: 20px;
    line-height: 1.2;
  }
  .order-text {
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
  }
  .order-total{
    /* width: 590px; */

}
.card-form-input::placeholder{
    font-size: 18px;
    line-height: 1.3;
}
.card-ordered{
    flex-grow: 1;
}


