<div class="empty-cart">
  <img
    class="empty-basket-image"
    srcset="
      ../img/empty-basket/shopping-basket-tab-ps@1x.png 1x,
      ../img/empty-basket/shopping-basket-tab-ps@2x.png 2x
    "
    src="../img/empty-basket/shopping-basket-tab-ps@1x.png"
    alt="empty-basket"
    width="132"
  />
  <p class="empty-cart-text">
    Your basket is<span class="yelow-empty"> empty...</span>
  </p>
  <p class="empty-cart-paragraf">
    Go to the main page to select your favorite products and add them to the
    cart.
  </p>
</div>
