<div class="filters">
  <p class="filter-text">Filters:</p>
  <div class="filter-container">
    <form class="search-form">
      <input
        class="search-input"
        type="text"
        name="search"
        placeholder="Search for anything"
      />
      <button class="search-btn">
        <span>
          <svg width="20" height="20">
            <use href="./img/icons.svg#icon-mag-search" />
          </svg>
        </span>
      </button>
    </form>

    <select class="categories-select" name="categories">
      <option value="" disabled selected hidden>Categories</option>
      <option value="">Breads / Bakery</option>
      <option value="">Prepared Foods</option>
      <option value="">Eggs</option>
    </select>
    <select class="sort-select" name="sort">
      <option value="">A to Z</option>
      <option value="">Z to A</option>
      <option value="">Less than 10$</option>
      <option value="">Greater than 10$</option>
    </select>
  </div>
</div>
