<div class="filters">
  <p class="filter-text">Filters:</p>
  <div class="filter-container">
    <form class="custom-input">
      <input
        class="search-input"
        type="text"
        name="search"
        placeholder="Search for anything"
      />

      <button class="search-btn filter-btn" type="button">
        <span>
          <svg width="20" height="20">
            <use href="./img/icons.svg#icon-mag-search" />
          </svg>
        </span>
      </button>
    </form>

    <div class="custom-select custom-select-ctg">
      <input
        type="text"
        class="selected-option selected-option-ctgr"
        tabindex="-1"
        placeholder="Categories"
        readonly
        disabled
      />
      <button class="categories-btn filter-btn" type="button">
        <span>
          <svg width="20" height="20">
            <use href="./img/icons.svg#icon-chevron-down" />
          </svg>
        </span>
      </button>
      <div class="select-options select-opt" tabindex="0">
        <div class="text-options" tabindex="0">Breads / Bakery</div>
        <div class="text-options" tabindex="0">Prepared Foods</div>
        <div class="text-options" tabindex="0">Eggs</div>
      </div>
    </div>

    <div class="custom-select custom-select-sort">
      <input
        type="text"
        class="selected-option sort-select"
        tabindex="0"
        placeholder="Sort"
        tabindex="-1"
        readonly
        disabled
      />
      <button class="sort-btn filter-btn" type="button">
        <span>
          <svg width="20" height="20">
            <use href="./img/icons.svg#icon-chevron-down" />
          </svg>
        </span>
      </button>
      <div class="select-options" tabindex="0">
        <div class="text-options-sort" tabindex="0">A to Z</div>
        <div class="text-options-sort" tabindex="0">Z to A</div>
        <div class="text-options-sort" tabindex="0">Less than 10$</div>
        <div class="text-options-sort" tabindex="0">Greater than 10$</div>
      </div>
    </div>
  </div>
</div>







