<footer class="footer">
  <div class="footer-container container">
    <div class="footer-wrap">
      <div class="logo-footer">
        <a href="./index.html" class="logo-link-icon" aria-label="minimal-logo">
          <svg class="logo-footer-svg" width="18" height="18">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
          <span class="logo-footer-text">Food Boutique</span>
        </a>
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.facebook.com/goITclub/ "
              aria-label="facebook"
              target="_blank"
              rel="noopener noreferrer"
              class="social-item-link"
            >
              <svg class="social-item-svg" width="22" height="22">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              aria-label="Instagram"
              target="_blank"
              rel="noopener noreferrer"
              class="social-item-link"
            >
              <svg class="social-item-svg" width="22" height="22">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              aria-label="youtube"
              target="_blank"
              rel="noopener noreferrer"
              class="social-item-link"
            >
              <svg class="social-item-svg" width="22" height="22">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="discover-box">
        <div class="footer-descr">
          <h2 class="footer-title">
            Discover the Variety of Flavors and Quality
          </h2>
          <p class="footer-text">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="container-form">
          <p class="footer-form-par">Subscribe and learn about new products!</p>
          <form class="form-footer" name="email_address" autocomplete="off">
            <label class="label-subscribe">
              <input
                class="form-footer-input"
                type="email"
                name="footer-input-email"
                placeholder="Email"
                maxlength="200"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                title="Enter a valid email address"
                required
              />
            </label>
            <button class="footer-form-button" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="terms">
      <a href="#" class="terms-par">Food Boutique. All rights reserved.</a>
      <div class="terms-privacy">
        <a href="#" class="terms-par">Privacy Policy</a>
        <span class="slash">/</span>
        <a href="#" class="terms-par">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
