<header class="header">
  <div class="container header-container">
    <a class="logo-link" href="./index.html" aria-label="Food Boutique-logo">
      <div class="logo-cont">
        <svg class="logo-icon">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </div>
      <p class="text-logo">Food Boutique</p>
    </a>

    <nav class="nav">
      <ul class="nav-header-list">
        <li class="header-item">
          <a class="btn-header-home" href="./index.html"> Home </a>
        </li>

        <li class="header-item item-link">
          <a class="button-buy js-add-product" href="./cart.html">
            <div class="nav-wripper">
              <svg class="add-product-icon" width="14" height="14">
                <use href="./img/icons.svg#icon-shopping-cart"></use>
              </svg>
            </div>

            <p class="text-header-cart">
              Cart (<span class="nav-span js-header-navSpan">0</span>)
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
