<div
  class="container icons-container"
  style="background-color: var(--second-bg); display: flex"
>
  icons test
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-check" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-discount" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-facebook" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-instagram" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-logo" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-organic-food" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-shopping-cart" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-youtube" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-caret-left" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-caret-right" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-close" />
  </svg>
  <svg width="60" height="60" style="fill: var(--main-bg)">
    <use href="./img/icons.svg#icon-mag-search" />
  </svg>
</div>
