 <template id="modal-prod"> 
    <div class="modal-prod-wrapper">
  <div class="modal-prod-card">
    <button type="button" class="modal-prod-close-btn">
      <svg class="modal-prod-close-icon">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-prod-information-wrap">
    <div class="modal-prod-img-wrap">   
        <img class="modal-prod-img" src="" alt="product picture" />
    </div> 
    <div class="modal-prod-name-wrap">
    <h2 class="modal-prod-name">Pumpkin</h2>
    <ul class="modal-prod-list">
      <li class="modal-prod-item">
        <h3 class="modal-prod-text">Category:</h3>
      </li>
      <li class="modal-prod-item">
        <h3 class="modal-prod-text">Size:</h3>
      </li>
      <li class="modal-prod-item">
        <h3 class="modal-prod-text">Popularity</h3>
      </li>
    </ul>
    <p class="modal-prod-desc">A round, orange vegetable with a thick shell and seeds inside. It is often used in cooking and baking for its sweet and earthy flavor.</p>
  </div>
  </div>
    <div class="modal-prod-price-elem">
    <p class="modal-prod-price">&#36;2.99</p>
    <button class="modal-prod-add-btn">
        <p class="modal-prod-add-text">Add to </p>
        <svg class="modal-prod-basket-icon" >
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
    </button>
</div>
  </div>
</div>
</template>

<!-- ===================modal success================== -->
<!-- <template id="modal-success"> -->
  <div class="modal-order-succ">
    <button type="button" class="modal-order-succ-btn">
      <svg class="modal-prod-close-icon" >
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>    
    <div class="modal-prod-close-img-wrap">
    <img class="modal-prod-close-img" src="" alt="product picture">
    <svg xmlns="http://www.w3.org/2000/svg" height="68" viewBox="0 0 185 68" fill="none" class="modal-prod-close-shadow">
      <g filter="url(#filter0_f_185_1243)">
      <ellipse cx="92.5" cy="34" rx="72.5" ry="14" fill="#010101" fill-opacity="0.1"/>
      </g>
      <defs>
      <filter id="filter0_f_185_1243" x="0" y="0" width="185" height="68" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_185_1243"/>
      </filter>
      </defs>
      </svg>   
    </div>
      <h2 class="modal-order-succ-title">Order success</h2>
      <p class="modal-order-succ-text">Thank you for shopping at Food Boutique. Your order has been received and is now being freshly prepared just for you! Get ready to indulge in nourishing goodness, delivered right to your doorstep. We're thrilled to be part of your journey to better health and happiness.</p>
  </div>
<!-- </template> -->


