<!-- <template id="modal-prod"> -->
    <div class="modal-prod-wrapper">
  <div class="modal-prod-card">
    <button type="button" class="modal-prod-close-btn">
      <svg class="modal-prod-close-icon" width="22" height="22">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-prod-information-wrap">
    <div class="modal-prod-img-wrap">   
        <img class="modal-prod-img" src="" alt="product picture" />
    </div> 
    <div class="modal-prod-name-wrap">
    <h2 class="modal-prod-name">Pumpkin</h2>
    <ul class="modal-prod-list">
      <li class="modal-prod-item">
        <h3 class="modal-prod-text">Category:</h3>
      </li>
      <li class="modal-prod-item">
        <h3 class="modal-prod-text">Size:</h3>
      </li>
      <li class="modal-prod-item">
        <h3 class="modal-prod-text">Popularity</h3>
      </li>
    </ul>
    <p class="modal-prod-desc">A round, orange vegetable with a thick shell and seeds inside. It is often used in cooking and baking for its sweet and earthy flavor.</p>
  </div>
  </div>
    <div class="modal-prod-price-elem">
    <p class="modal-prod-price">&#36;2.99</p>
    <button class="modal-prod-add-btn">
        <p class="modal-prod-add-text">Add to </p>
        <svg class="modal-prod-basket-icon" >
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
    </button>
</div>
  </div>
</div>
<!-- </template> -->

<ul>
  <li></li>
  <li>
    <a href="">
      <svg class="" width="" height="">
        <use href=""></use>
      </svg>
      <p></p>
    </a>
  </li>
</ul>