
<div class="your-order">
  <p class="order-text">Your Order</p>
  <div class="order-prise">
    <p class="order-total">Total</p>
    <p class="orser-sum">Sum:</p>
    <p class="order-prise-total">$12,94</p>
  </div>
  <div class="order-form">
    <form id="subscription-form">
      <label for="email"></label>
      <input
        class="order-input"
       type="email"
        id="email"
        name="email"
        required
        placeholder=" Enter your email"
      /><span class="form-span">Mail:</span>
      <button class="order-btn" type="submit">Checkout</button>
    </form>
  </div>
</div>