<div class="pagination">
  <ul>
    <!--pages or li are comes from javascript -->
  </ul>
  <!-- <button
    type="button"
    name="backButton"
    class="paginations__btn paginations__btn_back"
    aria-label="Previous page"
  >
    <svg class="paginations__icon" width="24" height="24">
      <use href="../img/icons.svg#icon-caret-left"></use>
    </svg>
  </button>
  <ul class="pagination_list list">
    <li class="numb"><button type="button">1</button></li>
    <li class="numb"><button type="button">2</button></li>
    <li class="dots"><span>...</span></li>
    <li class="numb"><button type="button">6</button></li>
    <li class="numb"><button type="button">7</button></li>
  </ul>
  <button
    type="button"
    name="nextButton"
    class="paginations__btn paginations__btn_end"
    aria-label="Next page"
  >
    <svg class="paginations__icon" width="24" height="24">
      <use href="../img/icons.svg#icon-caret-right"></use>
    </svg>
  </button> -->
</div>

<!-- <button type="button" class="start-btn page-btn">1</button>
  <button type="button" class="start-btn page-btn">2</button>

  <button type="button" class="end-btn page-btn">60</button> -->
