<div class="pagination">
  <div class="buttons-container">
    <ul class="buttons-list">
      <!-- <li class="buttons-item">
        <button class="pagination-btn prev-btn" type="button">&lt;</button>
      </li>
      <li class="buttons-item">
        <button class="pagination-btn num-btn" type="button">1</button>
      </li>
      <li class="buttons-item">
        <button
          class="pagination-btn num-btn active-pagination-btn"
          type="button"
        >
          2
        </button>
      </li>
      <li class="buttons-item">
        <button class="pagination-btn interval-btn" type="button">...</button>
      </li>
      <li class="buttons-item">
        <button class="pagination-btn num-btn" type="button">3</button>
      </li>
      <li class="buttons-item">
        <button class="pagination-btn num-btn" type="button">4</button>
      </li>
      <li class="buttons-item">
        <button class="pagination-btn next-btn" type="button">&gt;</button>
      </li> -->
    </ul>
  </div>
</div>
