<div class="pagination">
  <ul class="pagination_list">
    <!--pages or li are comes from javascript -->
  </ul>
  <!-- <button class="btn_back" type="button">
    <svg class="paginations__icon" width="24" height="24">
      <use href="../img/icons.svg#icon-caret-left"></use>
    </svg>
  </button>
  <ul class="pagination_list">
    
  </ul>
  <button class="btn_next" type="button">
    <svg class="paginations__icon" width="24" height="24">
      <use href="../img/icons.svg#icon-caret-right"></use>
    </svg>
  </button> -->
</div>
