.discount-desc-text {
  font-size: 18px;
}
.popular {
  margin-bottom: 80px;
}
.aside-wrappeer {
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .aside-wrappeer {
    padding-bottom: 100px;
  }

  .popular {
    margin-bottom: 64px;
  }

  .popular-list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
  }
}

.popular-caption {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: var(--btn-black);
  margin-bottom: 20px;
}

.popular-item {
  position: relative;
  display: flex;
  max-width: 100%;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--third-bg);
}

@media screen and (max-width: 375px) {
  .popular-item {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .popular-item:not(:last-child) {
    margin-bottom: 14px;
  }
}

.popular-img-wrapper {
  position: relative;
  width: 74px;
  height: 74px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: var(--main-bg);
}

.popular-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 56px;
  height: 56px;

  transform: translate(-50%, -50%);
}

.popular-desc-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .popular {
    margin-bottom: 64px;
  }
  .popular-desc-name {
    font-size: 20px;
    line-height: 1.1;
  }

  .popular-desc-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
  }
}

.popular-desc-inner {
  margin-top: 9px;
}

.popular-desc-text {
  font-size: 12px;
  line-height: 1.2;
  color: var(--black-transparent);
}

@media screen and (min-width: 768px) {
  .popular-desc-text {
    font-weight: 400;
    font-size: 12;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1440px) {
  .aside-wrappeer {
    flex-wrap: wrap;
    width: 275px;
    /* BULLSHIT */
    padding-bottom: 0px;
  }
}
.popular-desc-inner > .popular-desc-text:not(:last-child) {
  margin-right: 9px;
}

.popular-desc-span {
  color: var(--text);
}

.popular-desc-inner {
  display: flex;
}

.popular-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--btn-gray);
}

.popular-desc-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
}

.popular-btn .popular-desc-basket {
  fill: var(--second-bg);
}

.popular-btn:is(:hover, :focus) .popular-desc-basket {
  fill: var(--btn-gray);
}

.popular-btn .popular-desc-added {
  background-color: var(--second-bg);
  fill: var(--btn-gray);
}

.is-hidden {
  visibility: hidden;
}

.popular-btn .popular-desc-added {
  display: none;
}

.popular-btn.is-added .popular-desc-added {
  display: block;
}

.popular-btn.is-added .popular-desc-basket {
  display: none;
}

.js-add-btn svg {
  pointer-events: none;
}

.js-add-btn.is-added {
  pointer-events: none;
}

.popular-btn.is-added {
  background-color: var(--second-bg);
  fill: var(--btn-gray);
}

/*--------------------------------------------*/
.popular-item,
.discount-item {
  cursor: default;
}

@media screen and (min-width: 768px) {
  .popular-list {
    justify-content: start;
  }
  .popular-item {
    width: 275px;
  }
}

@media screen and (min-width: 1440px) {
  .discount,
  .popular {
    width: 100%;
  }
}
.popular {
  margin-bottom: 40px;
}
.discount-caption {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: var(--text);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .discount-list {
    display: flex;
    gap: 32px;
  }
  .discount-desc-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-list {
    display: block;
  }
}

.discount-item {
  position: relative;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  background-color: var(--third-bg);
}

@media screen and (max-width: 767px) {
  .discount-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.discount-img-wrapper {
  position: relative;
  /* width: 100%; */
  height: 150px;
  margin-bottom: 21px;
  border-radius: 10px;
  background-color: var(--main-bg);
}

.discount-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 114px;
  height: 114px;

  transform: translate(-50%, -50%);
}

.discount-desc-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-box {
  display: flex;
  align-items: center;
}

.discount-btn {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 9px;
  border: none;
  border-radius: 50%;
}

.discount-btn .discount-desc-added {
  display: none;
}

.discount-btn.is-added .discount-desc-added {
  display: block;
}

.discount-btn.is-added .discount-desc-basket {
  display: none;
}

.discount-desc-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}

.discount-btn .discount-desc-svg {
  fill: var(--btn-gray);
}

.discount-label-svg {
  position: absolute;
  top: 3px;
  right: 10px;
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
  background-color: transparent;
  fill: var(--third-bg);
}

@media screen and (min-width: 1440px) {
  .discount-label-svg {
    top: -3px;
  }
}

.is-hidden {
  visibility: hidden;
}

/* loader in loader.css======================================== */
.popular-list,
.discount-list {
  position: relative;
}
@media screen and (min-width: 1440px) {
  .text-overflow {
    width: 124px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
