.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 20px;
}
.filter-text {
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.search-form {
  position: relative;
  width: 100%;
}
.search-input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  background-color: transparent;
}
.search-input::placeholder {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.search-btn {
  position: absolute;
  top: 14px;
  right: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  transform: translateX(100%);
}

.categories-select {
  width: 100%;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  background-color: transparent;
}
.sort-select {
  background-color: #fafafa;
  width: 100%;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
}
