.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}
.custom-input {
  position: relative;
}
.search-input {
  padding: 14px 20px;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid var(--black-transparent);
}
.filter-btn {
  height: 48px;
  width: 48px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.filter-text,
.search-input,
.search-input::placeholder,
.custom-select {
  color: var(--btn-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.custom-select {
  position: relative;
}
.selected-option {
  display: block;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid var(--black-transparent);
  background-color: transparent;
}
.sort-select {
  background-color: #fafafa;
  border-radius: 30px;
  border: 1px solid transparent;
}
.filter-text {
  color: var(--black-transparent);
  margin-bottom: 8px;
}
.select-options {
  
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  list-style: none;
  padding: 14px 20px;
  margin-top: 8px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 11.2125px 0px rgba(0, 0, 0, 0.04),
    0px 20px 69px 0px rgba(0, 0, 0, 0.07);
}
.text-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.text-options-sort {
  color: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  
}
.custom-select .select-options {
  display: none;
  
}
.custom-select.active .select-options {
  display: block;
  cursor: pointer;
  display: inline-flex;
    flex-direction: column;
    gap: 8px;
}
.custom-select.active .sort-select {
  display: block;
}
.select-options li {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.text-options:hover {
  color: var(--text);
}
.text-options:focus {
  color: var(--text);
}
.text-options-sort:hover {
  color: var(--text);
}
.text-options-sort:focus {
  color: var(--text);
}
.search-input:focus,
.custom-select.active .selected-option {
  border: 1px solid var(--second-bg);
  outline: none;
}
.custom-select .text-options {
  position: relative;
}
.selected-option-ctgr::placeholder{
  color: var(--text);
}
.sort-select::placeholder{
  color: var(--text);
}
@media (min-width: 768px) {
 
  .selected-option-ctgr {
    max-width: 189px;
  }
  .filter-container {
    flex-direction: row;
    column-gap: 8px;
  }
  .filter-text,
  .search-input,
  .search-input::placeholder,
  .selected-option,
  .custom-select {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  .search-input {
    padding-right: 54px;
  }
  .filter-btn {
    height: 52px;
    width: 52px;
  }
  .search-input {
    max-width: 269px;
  }
  .selected-option-ctgr {
    max-width: 189px;
  }
  .sort-select {
    max-width: 200px;
  }
  .text-options {
    display: inline-flex;
    width: 189px;
    font-size: 18px;
    line-height: 1.33;
   
  }
  .text-options-sort {
    font-size: 18px;
    line-height: 1.33;
   
  }
  .text-options .text-options-sort {
    width: 189px;
  }
}
@media (max-width: 767px) {
  .custom-input,
  .search-input,
  .custom-select,
  .selected-option,
  .sort-select {
    width: 100%;
  }
}
@media (min-width: 1440px) {
 
}