.footer {
    display: flex;
    background-color: var(--second-bg);
    /*#6D8434*/
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-wrap {
    width: 100%;
}

.logo-footer {
    margin-bottom: 40px;
}

.logo-link-icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-link-icon:hover .logo-footer-svg {
    background-color: rgba(232, 232, 226, 0.7);
    fill: var(--btn-gray);
    transition: fill var(--transition-duration) var(--transition-timing-function) background-color var(--transition-duration) var(--transition-timing-function);
}

.logo-link-icon:hover .logo-footer-text {
    color: rgba(232, 232, 226, 0.7);
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.logo-footer-svg {
    fill: var(--second-bg);
    /*#6D8434 */
    border: 1px solid var(--btn-gray);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    box-sizing: content-box;
    background-color: var(--btn-gray);
}

.logo-footer-text {
    font-family: 'FONTSPRING DEMO - Quincy CF';
    font-weight: 900;
    color: var(--btn-gray);
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 1.1;
    margin-left: 8px;
}

.social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.social-item {
    margin-right: 12px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-item-link {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-item-link:hover::before,
.social-item-link:focus::before {
    background-color: rgba(232, 232, 226, 0.2);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-item-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(232, 232, 226, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
}

.social-item-svg {
    width: 22px;
    height: 22px;
    fill: var(--btn-gray);
    z-index: 1;
}

.footer-title {
    color: var(--btn-gray);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    max-width: 335px;
    margin-bottom: 14px;
}


.footer-text {
    color: var(--btn-gray);
    opacity: 0.7;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    max-width: 335px;
}

.discover-box {
    max-width: 336px;
}

.container-form {
    margin: 0 auto;
    margin-top: 80px;
}

.footer-form-par {
    color: var(--btn-gray);
    font-size: 14px;
    line-height: 1.33;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-subscribe {
    display: flex;
    max-width: 336px;
    width: 100%;
}

.form-footer-input {
    flex-grow: 1;
    display: block;
    border: 1px solid var(--btn-gray);
    background-color: transparent;
    outline: none;
    padding: 12px 18px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 30px;
    color: var(--btn-gray);
    cursor: pointer;
    
}

.form-footer-input:hover, 
.form-footer-input:hover{
    background-color: rgba(232, 232, 226, 0.2);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.form-footer-input::placeholder {
    color: var(--btn-gray);
    opacity: 0.6;
}

.footer-form-button {
    width: 100%;
    background-color: var(--btn-gray);
    margin: 14px 0 80px;
    padding: 12px;
    font-family: 'Neue Montreal', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--btn-black);
    /*#010101*/
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.footer-form-button:hover,
.footer-form-button:focus {
    color: var(--second-bg);
    /*#6D8434*/
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.terms-privacy {
    display: inline;
    margin-top: 8px;
}

.terms-par {
    color: var(--btn-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
}

.terms-par:hover,
.terms-par:focus {
    color: rgba(232, 232, 226, 0.7);
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.slash {
    font-size: 14px;
    display: inline;
    color: var(--btn-gray);
    margin: 0 8px;
}


/* ----------MEDIA------------ */

@media (min-width: 768px) {
    .footer-wrap {
        display: flex;
    }

    .discover-box {
        max-width: 336px;
    }

    .label-subscribe {
        max-width: 336px;
    }

    .logo-footer {
        margin-right: 78px;
    }

    .logo-footer-text {
        font-size: 24px;
        font-style: normal;
    }

    .social-item-link {
        width: 44px;
        height: 44px;
    }

    .footer-title {
        font-size: 40px;
        font-style: normal;
        line-height: 1.1;
        margin-bottom: 20px;
        max-width: none;
        width: 429px;
    }

    .footer-text {
        font-size: 18px;
        line-height: 1.33;
        max-width: none;
        width: 429px;
        margin-bottom: 0;
    }

    .footer-descr {
        margin-bottom: 64px;
    }

    .container-form {
        margin: 0 auto 0 0;
    }

    .footer-form-par {
        font-size: 18px;
    }

    .footer-form-button {
        font-size: 16px;
        gap: 8px;
        line-height: 1.5;
        margin: 20px 0 120px;
    }

    .form-footer-input {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
    }

    .terms {
        flex-direction: row;
        flex-basis: 100%;
        align-items: baseline;
        justify-content: space-between;
    }

    .terms-privacy {
        margin-top: 0;
        /* margin-left: auto;*/
    }
}


@media (min-width: 1440px) {

    .logo-footer {
        margin-right: 0;
    }

    .footer-wrap {
        justify-content: space-between;
    }

    .discover-box {
        display: flex;
        max-width: 100%;
        gap: 148px;
    }

    .container-form {
        width: 336px;
    }

    .footer-title {
        width: 410px;
    }

    .footer-text {
        width: 410px;
    }

    .footer-form-button {
        margin-bottom: 148px;
    }
}

/* ---sweetalert2--- */

.small-popup {
    width: 450px;
}

.custom-title {
    font-size: 20px;
}

.custom-icon svg {
    width: 24px;
    height: 24px;
}

