/* mobile */
/* .modal-prod-wrapper {
    outline: 2px solid red;
    outline-offset: -2px;
} */

.modal-prod-wrapper {
  display: none;
  background: rgba(1, 1, 1, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  height: 100%;
}

.modal-active {
  display: block;
}

.stop-scroll {
height: 100%;
overflow: hidden;
}

/* 320px */
.modal-prod-card {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  min-height: 535px;
  background-color: var(--third-bg);
  border-radius: 20px;
  padding: 40px 20px;
  position: relative;
}
/* mobile */
@media only screen and (min-width: 374.8px) {

    .modal-prod-card {
        min-height: 535px;
        width: 335px;  
        }
}
    /* tablet */
     @media only screen and (min-width: 768px) {
        .modal-prod-card {
            min-height: 380px;
            width: 600px; 
            padding: 40px;
        }
    } 
    /* mobile */
    .modal-prod-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 22px;
    height: 22px;
}
/* tablet */
@media only screen and (min-width: 768px) {
    .modal-prod-close-btn {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
    }

}
/* mobile */
.modal-prod-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  padding: 0;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-close-btn {
    top: 24px;
    right: 24px;
  }
}

/* .modal-prod-close-icon {
} */

/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-information-wrap {
    display: flex;
    gap: 24px;

    margin-bottom: 48px;
  }
}
/* mobile */

.modal-prod-img-wrap{
max-width: 100%;
height: 212px;
border-radius: 10px;
background-color: var(--main-bg);



  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 20px;
}
/* tablet */
@media only screen and (min-width: 768px) {

    .modal-prod-img-wrap {
        margin-bottom: 0px;
    }
}
@media only screen and (min-width: 768px) {
    .modal-prod-name-wrap {
max-width: 256px;
    }

}

/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-img-wrap {
    width: 240px;
  }
}
.modal-prod-img {

    max-width: 100%;
    height: 160px;

}
/* mobile */
.modal-prod-name {
  font-size: 18px;
  margin-bottom: 10px;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-name {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* mobile */
.modal-prod-list {
  display: flex;
  row-gap: 8px;
  column-gap: 9px;

  margin-bottom: 20px;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-list {
    margin-bottom: 24px;
  }
}

/* .modal-prod-item {
} */

.modal-prod-text {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
}
/* mobile */
.modal-prod-desc {

    color: rgba(1, 1, 1, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;

}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-desc {
    font-size: 16px;
    line-height: 1.25;
  }
}
.modal-prod-price-elem {

display: flex;
justify-content: space-between;
align-items: flex-end;
margin-top: 40px;

}
/* mobile */
.modal-prod-price {
  font-size: 18px;
  line-height: 1.1;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-price {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* mobile */
.modal-prod-add-btn {
  background-color: var(--second-bg);
  color: var(--btn-gray);
  border-radius: 30px;
  border: none;
  display: flex;
  min-width: 116px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}
.modal-prod-add-btn:hover, .modal-prod-add-btn:focus {
    background-color: var(--btn-green-dark);
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-add-btn {
    min-width: 130px;
  }
}

/* .modal-prod-add-text {
} */

/* mobile */
.modal-prod-basket-icon {
  fill: var(--main-bg);
  width: 22px;
  height: 22px;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-prod-basket-icon {
    width: 24px;
    height: 24px;

    }
}



/* <!-- ===================modal success================== --> */
/* 320px */
.modal-order-wrap {
  display: none;
  background: rgba(1, 1, 1, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  height: 100%;
}

.modal-show-order {
  display: block;
}

.modal-order-succ {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    min-height: 509px;
    background-color: var(--main-bg);
    border-radius: 20px;
    padding: 40px 20px 60px 20px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
}
/* mobile */
@media only screen and (min-width: 375px) {
    .modal-order-succ {
        width: 335px;
    }
}
/* tablet */
@media only screen and (min-width: 768px) {
    .modal-order-succ {
        width: 560px;
        height: 509px;
        padding: 80px 40px;
    }
}
.modal-order-succ-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 22px;
    height: 22px;
}
/* tablet */
@media only screen and (min-width: 768px){
    .modal-order-succ-btn {
        width: 28px;
        height: 28px;
        top: 24px;
        right: 24px;
    }
}
/* mobile */
.modal-prod-close-icon {
    width: 22px;
    height: 22px;
}
/* tablet */
@media only screen and (min-width: 768px) {
    .modal-prod-close-icon {
        width: 28px;
        height: 28px;
    } 
}
/* mobile */
.modal-prod-close-img-wrap {
    position: relative;
    margin-bottom: 43px;
}
/* tablet */
@media only screen and (min-width: 768px){
    .modal-prod-close-img-wrap{
        margin-bottom: 40px;
    }
}
/* mobile */
.modal-prod-close-img {
    max-width: 100%;
    height: 140px;
    outline: 2px solid red;
    outline-offset: -2px;    
}
/* tablet */
@media only screen and (min-width: 768px){
    .modal-prod-close-img {
    width: 140px;
       }
}
/* mobile */
.modal-prod-close-shadow {
    position: absolute;
    top: 109px;
    left: auto;
    width: 145px;
}

/* mobile */
.modal-order-succ-title {
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 20px;
}
/* tablet */
@media only screen and (min-width: 768px){
    .modal-order-succ-title{
        font-size: 32px;
        line-height: 1;
    }
    }
   /* mobile */ 
.modal-order-succ-text {
    color: rgba(1, 1, 1, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;

    max-width: 295px;
}
/* tablet */
@media only screen and (min-width: 768px) {
    .modal-order-succ-text{
        font-size: 18px;
        line-height: 1.33;

        max-width: 480px;
    }
}

