:root {
  --main-bg: #e8e8e2;
  --second-bg: #6d8434;
  --third-bg: #fafafa;
  --second-text: #a3a3a3;
}

.pagination {
  display: flex;
  width: 472px;
  justify-content: space-between;
  align-items: center;
}

.pagination_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.numb,
.dots {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: var(--second-text);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  padding: 8px;
  border-radius: 60px;
  cursor: pointer;
}

.btn_back,
.btn_next {
  padding: 8px;
  border-radius: 60px;
  background: var(--third-bg);
  border-color: transparent;
  width: 40px;
  height: 40px;
}
.paginations__icon {
  fill: var(--second-text);
}
.paginations__icon:hover,
.paginations__icon:active {
  fill: var(--third-bg);
}
li.active,
li.numb:hover,
li.numb:active,
li:first-child:hover,
li:first-child:active,
li:last-child:hover,
li:last-child:active {
  color: var(--third-bg);
  background-color: var(--second-bg);
}
