.prev-btn svg,
.next-btn svg,
.interval-btn {
  pointer-events: none;
}

.pagination {
}
.buttons-container {
  min-height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.buttons-list {
  display: flex;
}
.buttons-item {
}
.pagination-btn {
  width: 40px;
  height: 40px;
  border: none;
  outline: tranparent;
  border-radius: 50%;
  background-color: transparent;
  color: var(--second-text);
  font-size: 14px;
  line-height: 1.43; /* 142.857% */
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.pagination-btn:is(:active, :focus),
.pagination-btn.active-pagination-btn {
  background-color: var(--second-bg);
  color: var(--btn-gray);
}

/* .pagination-btn:is(:hover, :focus) {
  background-color: var(--btn-green-dark);
  color: var(--btn-gray);
} */
.pagination-btn:is(:hover) {
  background-color: var(--btn-green-dark);
  color: var(--btn-gray);
}

.prev-btn {
}
.num-btn {
}
.disabled,
.prev-btn svg,
.next-btn svg,
.interval-btn {
  pointer-events: none;
}
.next-btn {
}
.prev-btn,
.next-btn {
  background-color: var(--third-bg);
}

.prev-btn svg,
.next-btn svg {
  fill: currentColor;
}

@media screen and (max-width: 374px) {
  .buttons-list {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .buttons-list {
    gap: 4px;
    justify-content: space-evenly;
  }
  .prev-btn {
    margin-right: 15px;
  }

  .next-btn {
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .buttons-container {
    margin-bottom: 100px;
  }
  .buttons-list {
    gap: 8px;
  }
  .prev-btn {
    margin-right: 72px;
  }

  .next-btn {
    margin-left: 72px;
  }
}
@media screen and (min-width: 1440px) {
  .buttons-container {
    margin-bottom: 61px;
  }
}
