:root {
  --main-bg: #e8e8e2;
  --second-bg: #6d8434;
  --third-bg: #fafafa;
  --second-text: #a3a3a3;
}

.pagination {
  max-width: 334px;
  display: flex;
  justify-content: space-between;
}

.pagination_list {
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
li {
  border-radius: 60px;
  gap: 4px;
}
.dots {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: var(--second-bg);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
}
button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  border-radius: 60px;
  background: transparent;
  color: var(--second-text);
  border-color: transparent;
  width: 40px;
  height: 40px;
}
.btn_back,
.btn_next {
  background: var(--third-bg);
}
numb {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  padding: 8px;
  border-radius: 60px;
  background: transparent;
  color: var(--second-text);
  border-color: transparent;
  width: 40px;
  height: 40px;
}
.paginations__icon {
  fill: var(--second-text);
  width: 100%;
  height: 100%;
}
.paginations__icon:hover,
.paginations__icon:active {
  fill: var(--third-bg);
}

button.active,
button:hover,
button:active {
  color: var(--third-bg);
  background-color: var(--second-bg);
}
.btn_back {
  margin-right: 15px;
}
.btn_next {
  margin-left: 15px;
}
li.active {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .pagination {
    max-width: 472px;
  }
}
@media screen and (min-width: 1158px) {
}
