.product-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.products-card-item {
  cursor: default;
  max-width: 335px;
  height: auto;
  border-radius: 20px;
  background: #fafafa;
  padding: 20px;
  position: relative;
}
.prod-list-discount-label {
  position: absolute;
  top: 3px;
  right: 10px;
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
  background-color: transparent;
  color: var(--third-bg);
}
.prod-list-discount-label-svg {
  width: 100%;
  height: 100%;
}
.product-image {
  border-radius: 10px;
  background: #e8e8e2;
  padding: 19px 78px;
  margin-bottom: 20px;
}
.product-name,
.price {
  color: var(--btn-black);
  font-size: 18px;
  line-height: 1.11;
}
.product-name {
  font-weight: 500;
  margin-bottom: 10px;
}
.product-description-list {
  display: flex;
  margin-bottom: 40px;
}
.product-text {
  color: var(--black-transparent);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
}
.product-text-black {
  color: var(--text);
  margin-right: 8px;
}
.btn-shopping-cart {
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-shopping-cart .products-desc-added {
  display: none;
}

.btn-shopping-cart.is-added .products-desc-added {
  display: block;
}

.btn-shopping-cart.is-added .products-desc-basket {
  display: none;
}

.is-hidden {
  visibility: hidden;
}
.wrap-prise-and-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .product-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    align-content: center;
    justify-content: start;
    margin-bottom: 50px;
  }
  .products-card-item {
    flex-basis: calc((100% - 32px) / 2);
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .product-card-list {
    row-gap: 40px;
    column-gap: 20px;
    margin-bottom: 40px;
  }
  .products-card-item {
    flex-basis: calc((100% - 40px) / 3);
  }
  .prod-list-discount-label {
    top: -3px;
  }
  .product-image {
    padding: 19px 58px;
  }
  .product-name,
  .price {
    color: var(--btn-black);
    font-size: 20px;
    line-height: 1.2;
  }
  .product-description-list {
    margin-bottom: 20px;
    display: block;
  }
  .product-text-popular {
    margin-top: 9px;
  }
}
/* loader in loader.css======================================== */

.product-card-list {
  position: relative;
}
