/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import 'modern-normalize/modern-normalize.css';
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./content.css');
@import url('./filters.css');
@import url('./product-cards-list.css');
@import url('./pagination.css');
@import url('./pagination-buttons.css');
@import url('./aside.css');
@import url('./cart.css');
@import url('./footer.css');
@import url('./modal-product-card.css');
@import url('./modal-order-success.css');
@import url('./cart-product.css');
@import url('./order.css');
@import url('./cart-header.css');
@import url('./empty-cart.css');
